
<div class="flex justify-center mt-5">
    <form (ngSubmit)="submit()" #myForm="ngForm" class="p-4 mt-20 rounded-lg border m-auto w-1/3">
        <h1 class="text-center text-xl">login</h1>
        <div class="my-5 w-full">
            <label for="email">Email</label>
            <input type="email" id="email" class="p-2 rounded w-full border text-sm" placeholder="Email Address"
                [(ngModel)]="loginForm.username" name="email" #email="ngModel" required>
        </div>
        <!-- Validation -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-2 bg-red-300 text-red-800 rounded">
            Email is invalid.
        </div>

        <div class="my-5 w-full">
            <label for="password">Password</label>
            <input type="password" id="password" class="p-2 rounded w-full border text-sm" placeholder="Password"
                [(ngModel)]="loginForm.password" name="password" #password="ngModel" required>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="p-2 bg-red-300 text-red-800 rounded">
            Password is invalid.
        </div>
        <div class="my-5 w-full">
            <button type="submit" [disabled]="myForm.form.invalid"
                class="p-2 rounded w-full bg-purple-700 text-white hover:bg-purple-900">
                Submit
            </button>
        </div>
    </form>
</div>